NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dailyfax

JWT_ACCESS_SECRET=change_me_access_secret_dev_only
JWT_REFRESH_SECRET=change_me_refresh_secret_dev_only
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

OTP_LENGTH=4
OTP_EXPIRES_SECONDS=300
OTP_DEV_CODE=1234
OTP_PROVIDER=dev

LOG_LEVEL=debug
CORS_ORIGIN=*
